.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #827096,
    #806c94,
    #cb8591,
    #fe948f
  );
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  flex: 1;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px 0 0 8px;
}

.form .MuiTextField-root {
  width: 100%;
  margin-bottom: 20px;
}

.image-section {
  position: relative;
  width: 200px;
  flex: 1;
  border-radius: 0 8px 8px 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)
    ),
    url("https://img.freepik.com/premium-vector/beautiful-sunset-scene-with-pine-tree-silhouette_104785-315.jpg")
      center/cover;
}

.image-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form .MuiButton-root {
  margin-top: 20px;
  background-color: #827096;
  color: #fff;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form .MuiButton-root:hover {
  background-color: #9f6770;
}
.donthaveAccount {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}
